{% extends "layout/base.twig" %}

{% block content %}

<section class="notfound-error ">
    <div class="notfound-error__icon">
        <img src="public/images/404.png" alt="404" class="">
    </div>
    
    <div class="col-lg-5 notfound-error__content">
        <h3 class="notfound-error__title">اُه نه !</h3>
        <p class="notfound-error__text">متأسفانه صفحه مورد نظر شما پیدا نشد</p>
        <small class="notfound-error__subtitle">کد خطا :404</small>
        <div class="notfound-error__action">
            <a href="/" class="btn btn-primary">بازگشت به صفحه اصلی</a>
        </div>
    </div>



</section>

{% endblock %}